.time-button {
  height: 40px;
  width: 60px;
  background-color: rgb(0, 0, 255);
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.035rem;
  font-weight: 600;
  border-radius: 6px;
  margin-top: auto;
  transition: 0.35s;
  cursor: pointer;
}
.time-button.taken {
  color: red;
}
.time-button:hover {
  background-color: (rgb(120, 120, 202));
}
